@charset "UTF-8";
/**
 * 
 * @authors umbrellaman (you@example.org)
 * @date    2017-03-31 20:15:27
 * @version $1.0$
 */
#blank{
	height: 200px;
	padding-left: 888px;
}
#box{
	height: 100px;
	padding-left: 900px;
}