@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-28 09:16:41
 * @version $Id$
 */

.head{
	height: 50px;
	background-color: #00c2af;
	display: flex;
    justify-content: center;
    align-items: center;
}

.head-left{
	height: 30px;
}

.head-left-in{
	font-size: 150%;
	color: white;
}

.head-middle{
	height: 30px;
	border-radius: 5px;
	background-color: #00a594;
	display: flex;
    align-items: center;
    color: white;
}

.head-middle span{
	margin-left: 10px;
	color: #00d8c9;
}

.head-right{
	height: 30px;
	display: flex;
	flex-wrap: wrap;
}

.head-right-up{
	font-size: 125%;
	color: white;
	display: flex;
	justify-content: center;
  	align-items: center;
}

.head-right-down{
	font-size: 125%;
	color: white;
	display: flex;
	justify-content: center;
  	align-items: center;
}

.theme{
	height: 180px;
	display: flex;
	flex-wrap: wrap;
	/*background-color: lightgray;*/
}

.theme-choose{
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-direction: column;
}

.theme-choose-img{
	height: 60px;
	display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img1{
	height: 40px;
	width: 40px;
}

.theme-choose-word{
	height: 20px;
	display: flex;
    justify-content: center;
    align-items: flex-end;
}

.line{
	height: 15px;
	background-color: #f1f0ee;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
}

.ad-left{
	height: 150px;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: lightgray;
	display: flex;
	flex-direction: column;
}

.ad-left-top{
	height: 40px;
	color: #00a600;
	display: flex;
    align-items: flex-end;
    font-size: 125%;
}

.ad-left-middle{
	height: 20px;
}


.ad-left-bottom{
	height: 90px;
	display: flex;
    align-items: center;
}

.img2{
	width: 75px;
	height: 75px;
}

.ad-right-top{
	height: 75px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: lightgray;
}

.ad-right-top-word{
	height: 75px;
	display: flex;
	flex-direction: column;
}

.ad-right-top-word-top{
	height: 40px;
	color: red;
	display: flex;
    align-items: flex-end;
}

.ad-right-top-word-middle{
	height: 35px;
}

.ad-right-top-img{
	height: 75px;
	display: flex;
	justify-content: center;
  	align-items: center;
}

.img3{
	height: 60px;
	width: 60px;
}

.ad-right-down{
	height: 75px;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: lightgray;
	/*display: flex;
	flex-direction: column;*/
}

.ad-right-down-words{
	color: #ff57ae;
}

.img4{
	height: 50px;
	width: 50px;
}

.ad-show-up{
	color: #ff8700;
	font-size: 125%;
}

.ad-show-down{
	color: gray;
}

.time1{
	padding: 0;
	border-radius: 3px;
	background-color: gray;
	color: white;
	display: flex;
	justify-content: center;
  	align-items: center;
}

.time2{
	padding: 0 0 0 3px;
}

.ad-bottom{
	height: 75px;
}

.ad-bottom-left{
	height: 75px;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: lightgray;
}

.ad-bottom-left-word{
	height: 75px;
	display: flex;
	flex-direction: column;
}

.ad-bottom-left-word-top{
	height: 40px;
	color: red;
	display: flex;
    align-items: flex-end;
}

.ad-bottom-left-word-middle{
	height: 35px;
}

.ad-bottom-left-img{
	height: 75px;
	display: flex;
	justify-content: center;
  	align-items: center;
}

.ad-bottom-right{
	height: 75px;
}

.ad-bottom-right-word{
	height: 75px;
	display: flex;
	flex-direction: column;
}

.ad-bottom-right-word-top{
	height: 40px;
	color: #ff8700;
	display: flex;
    align-items: flex-end;
}

.ad-bottom-right-word-middle{
	height: 35px;
}

.ad-bottom-right-img{
	height: 75px;
	display: flex;
	justify-content: center;
  	align-items: center;
}

.headline{
	height: 50px;
	font-size: 150%;
	display: flex;
    align-items: center;
}

.item{
	height: 100px;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: lightgray;
}

.item-in{
	box-sizing: border-box;
	height: 120px;
	border-top: 1px solid #ccc;
	padding-right:0; 
	padding-left: 3px;
}

.item-left{
	height: 100px;
	display: flex;
	align-content: center;
	align-items: center;
	align-self: center;
	padding: 0;
}

.item-left img{
	width:90px;
	height: 90px;
}

.item-right{
	height:120px;
	padding: 0;
}

.item-right .item-right-top{
	margin-top:10px;
	padding-left: 3px;
}

.item-right .item-right-middle{
	padding-left: 3px;
	margin-bottom:22px;
	color:rgb(148,148,148);
}

.item-right .item-right-down{
	height: 30px;
	padding-left: 3px;
	padding: 0;
	font-size: 20px;
	color:rgb(0,194,175);
}

.item-right .item-right-down:after{
	font-size: 13px;
	content: '元';
}

.item-right .item-right-down-middle{
	height: 30px;
	padding-left:5px;
	padding-right: 5px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-self: center;
	align-items: center;
}

.item-right .item-right-down-middle-in{
	width: 50px;
	height: 20px;
	border-radius: 3px;
	border:1px solid rgb(255,154,0);
	display: flex;
	justify-content: center;
	align-content: center;
	align-self: center;
	align-items: center;
	font-size: 11px;
	color:rgb(255,154,0);
}

.item-right .item-right-down-middle span{
	font-size: 11px;
	color:rgb(148,148,148);
}

.other{
	height: 50px;
	background-color: #8fc6ea;
	display: flex;
  	align-items: center;
  	padding: 0px;
}

.other-in{
	color: #00b2cf;
	font-size: 125%;
}
